.advantage {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.advantage__list {
  list-style: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-areas:
      "one . ."
      "two . ."
      "three . ."
      "four five six";
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantage__item {
  &--color {
    background-color: #81b3d2;
    color: white;
  }

  &--location {
    background-color: #eeeeee;
    display: inline-block;
    padding-top: 25px;

    &:not(:last-child)::after {
      content: url("../img/line.svg");
      padding: 0 20px;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }

  &--first {
    padding-top: 70px;
    margin-bottom: 18px;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 100%;
      position: absolute;
      top: -4px;
      left: 0;
      height: 39px;
      background-image: url("../../img/white.svg");
      background-position: top;
      background-repeat: no-repeat;
      background-size: 320px;
    }

    @media (min-width: $tablet-width) {
      padding-top: 0;

      &::before {
        display: none;
      }
    }
  }

  &--second {
    padding-top: 40px;

    @media (min-width: $tablet-width) {
      padding-top: 0;
    }
  }

  &--third {
    padding-top: 28px;
  }

  &--four {
    padding-top: 23px;

    @media (min-width: $tablet-width) {
      padding-top: 0;
    }
  }

  &--five {
    padding-top: 23px;

    @media (min-width: $tablet-width) {
      padding-top: 0;
    }
  }

  @media (min-width: $tablet-width) {
    &--direct-order {
      display: grid;
      grid-template-areas:
        "title img"
        "num ."
        "text .";
      grid-template-rows: 92px 40px 124px;
      grid-template-columns: 1fr 2fr;
      margin-bottom: 60px;
    }

    &--reverse-order {
      display: grid;
      grid-template-areas:
        "img title"
        ". num"
        ". text";
      grid-template-rows: 92px 40px 124px;
      grid-template-columns: 2fr 1fr;
    }
  }

  &--area-one {
    @media (min-width: $tablet-width) {
      grid-area: one;
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }

  &--area-two {
    @media (min-width: $tablet-width) {
      grid-area: two;
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }

  &--area-three {
    @media (min-width: $tablet-width) {
      /*grid-area: three;*/
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }

  &--area-four {
    @media (min-width: $tablet-width) {
      grid-area: four;
      grid-column-start: 1;
      grid-column-end: 1;
      padding-top: 0;
      padding-bottom: 52px;
    }
  }
}

.advantage__item-pluse {
  position: relative;
  padding-left: 69px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    width: 33%;
  }

  &--housing {
    padding-bottom: 9px;

    @media (min-width: $tablet-width) {
      padding-bottom: 0;
    }
  }

  &--housing::before {
    content: url("../../img/icon-house-mobile.svg");
    position: absolute;
    left: 21px;
    top: 7px;
    width: 39px;
    height: 37px;

    @media (min-width: $tablet-width) {
      content: url("../../img/icon-house-tablet.svg");
      /*position: absolute;
      left: 45px;
      top: -96px;
      width: 75px;
      height: 72px;*/
      top: 0;
      left: 0;
    }

    @media (min-width: $desktop-width) {
      left: 161px;
      top: -100px;
      width: 75px;
      height: 72px;
    }
  }

  &--souvenirs {
    padding-bottom: 8px;

    @media (min-width: $tablet-width) {
      order: 1;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 0;
    }
  }

  &--souvenirs::before {
    content: url("../../img/icon-gift-mobile.svg");
    position: absolute;
    left: 25px;
    top: 5px;
    width: 32px;
    height: 38px;

    @media (min-width: $tablet-width) {
      content: url("../../img/icon-gift-tablet.svg");
      /*position: absolute;
      left: 84px;
      top: -99px;
      width: 64px;
      height: 75px;*/
    }

    @media (min-width: $desktop-width) {
      left: 152px;
      top: -104px;
      width: 75px;
      height: 72px;
    }
  }

  &--meal::before {
    content: url("../../img/icon-burger-mobile.svg");
    position: absolute;
    left: 18px;
    top: 12px;
    width: 40px;
    height: 35px;

    @media (min-width: $tablet-width) {
      content: url("../../img/icon-burger-tablet.svg");
      /*position: absolute;
      left: 65px;
      top: -93px;
      width: 76px;
      height: 68px;*/
    }

    @media (min-width: $desktop-width) {
      left: 160px;
      top: -96px;
      width: 75px;
      height: 72px;
    }
  }

  &::before {
    @media (min-width: $tablet-width) {
      display: block;
      margin: 0 auto 25px;
      position: relative;
      top: 0;
      left: 0;
      width: 75px;
      height: 72px;
    }
  }
}

.advantage__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  grid-area: title;
  grid-row-start: 1;
  grid-row-end: 3;

  @media (min-width: $tablet-width) {
    text-align: center;
    padding-top: 41px;
    font-size: 21px;

    &--pluse {
      padding-top: 0;

      @media (min-width: $tablet-width) {
        margin: 0;
        padding-left: 0;
        padding-bottom: 10px;
      }

      @media (min-width: $desktop-width) {
        padding-bottom: 8px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-left: 0;
  }

  &--center {
    text-align: center;
    padding-bottom: 13px;
    margin: 0;


    @media (min-width: $tablet-width) {
      padding-left: 50px;
      padding-right: 50px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 42px;
      padding-left: 125px;
      padding-right: 125px;
    }
  }

  &--center-title {
    @media (min-width: $desktop-width) {
      padding-top: 46px;
    }
  }

  &--second {
    padding-bottom: 0;

    @media (min-width: $tablet-width) {
      padding-right: 53px;
      padding-left: 53px;
      padding-top: 42px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 125px;
      padding-left: 125px;
      padding-top: 50px;
    }
  }
}

.advantage__number {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  grid-area: num;
  padding-bottom: 16px;
  margin: 0;

  &::before {
    content: "\2014";
  }

  &::after {
    content: "\2014";
  }

  @media (min-width: $tablet-width) {
    padding-top: 13px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 20px;
  }

  &--second {
    padding-top: 13px;

    @media (min-width: $tablet-width) {
      padding-top: 15px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 24px;
    }
  }

  &--third {
    @media (min-width: $tablet-width) {
      padding-top: 0;
      padding-bottom: 22px;
    }
  }

  &--four {
    padding-bottom: 17px;

    @media (min-width: $tablet-width) {
      padding-top: 0;
      padding-bottom: 22px;
    }
  }

  &--five {
    @media (min-width: $tablet-width) {
      padding-top: 0;
      padding-bottom: 22px;
    }
  }
}

.advantage__list-pluses {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 59px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
  }
}

.advantage__description {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    text-align: center;
  }

  &--housing {
    @media (min-width: $tablet-width) {
      padding-right: 41px;
      padding-left: 45px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 61px;
      padding-left: 63px;
      margin-top: 16px;
    }
  }

  &--meal {
    @media (min-width: $tablet-width) {
      padding: 0 51px;
    }
  }

  &--souvenirs {
    @media (min-width: $tablet-width) {
      padding-left: 30px;
      padding-right: 31px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 15px;
      padding-right: 34px;
    }
  }
}

.advantage__transfer {
  display: inline;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.advantage__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  grid-area: text;
  margin: 0;

  &--indent-first {
    padding-right: 12px;
    padding-left: 13px;
    padding-bottom: 39px;

    @media (min-width: $tablet-width) {
      padding-top: 18px;
      padding-right: 26px;
      padding-left: 26px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 25px;
      padding-right: 55px;
      padding-left: 55px;
    }
  }

  &--indent-second {
    padding-right: 16px;
    padding-left: 15px;
    padding-bottom: 35px;

    @media (min-width: $tablet-width) {
      padding-top: 19px;
      padding-right: 33px;
      padding-left: 33px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 29px;
      padding-right: 90px;
      padding-left: 90px;
    }
  }

  &--indent {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 11px;
  }

  &--indent-third {
    @media (min-width: $desktop-width) {
      padding-left: 45px;
      padding-right: 44px;
    }
  }

  &--indent-four {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 0;
    padding-bottom: 12px;

    @media (min-width: $tablet-width) {
      padding-right: 58px;
      padding-left: 55px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 70px;
      padding-left: 70px;
    }
  }

  &--indent-five {
    padding-right: 36px;
    padding-left: 36px;
    padding-bottom: 25px;

    @media (min-width: $tablet-width) {
      padding-right: 55px;
      padding-left: 55px;
    }
  }
}

.advantage__img {
  width: 100%;
  object-fit: cover;
  display: block;
}
