.advantage {
  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }
}

.advantage__list {
  list-style: none;
  padding: 0;
}

.advantage__item {
  &--color {
    background-color: #81b3d2;
    color: white;
  }

  @media (min-width: $tablet-width) {
    &--direct-order {
      display: grid;
      grid-template-areas:
        "title img"
        "num ."
        "text .";
      grid-template-rows: 92px 40px 124px;
      grid-template-columns: 1fr 2fr;
      margin-bottom: 158px;
    }

    &--reverse-order {
      display: grid;
      grid-template-areas:
        "img title"
        ". num"
        ". text";
      grid-template-rows: 92px 40px 124px;
      grid-template-columns: 2fr 1fr;
    }

    &--location {
      display: inline-block;
      width: 30%;
    }
  }
}

.advantage__item-pluse {
  position: relative;
  padding-left: 69px;

  @media (min-width: $tablet-width) {
    padding-left: 36px;
  }

  &--housing::before {
    content: url("../../img/icon-house-mobile.svg.svg");
    position: absolute;
    left: 21px;
    top: 26px;
    width: 39px;
    height: 37px;

    @media (min-width: $tablet-width) {
      content: url("../../img/icon-house-tablet.svg.svg");
      position: absolute;
      left: 90px;
      top: -90px;
      width: 75px;
      height: 72px;
    }

    @media (min-width: $desktop-width) {
      left: 161px;
      top: -90px;
      width: 75px;
      height: 72px;
    }
  }

  &--souvenirs::before {
    content: url("../../img/icon-gift-mobile.svg.svg");
    position: absolute;
    left: 21px;
    top: 26px;
    width: 32px;
    height: 38px;

    @media (min-width: $tablet-width) {
      content: url("../../img/icon-gift-tablet.svg.svg");
      position: absolute;
      left: 90px;
      top: -90px;
      width: 64px;
      height: 75px;
      order: 1;
    }

    @media (min-width: $desktop-width) {
      left: 161px;
      top: -90px;
      width: 75px;
      height: 72px;
    }
  }

  &--meal::before {
    content: url("../../img/icon-burger-mobile.svg.svg");
    position: absolute;
    left: 21px;
    top: 26px;
    width: 40px;
    height: 35px;

    @media (min-width: $tablet-width) {
      content: url("../../img/icon-burger-tablet.svg.svg");
      position: absolute;
      left: 90px;
      top: -90px;
      width: 76px;
      height: 68px;
    }

    @media (min-width: $desktop-width) {
      left: 161px;
      top: -90px;
      width: 75px;
      height: 72px;
    }
  }
}

.advantage__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  grid-area: title;
  grid-row-start: 1;
  grid-row-end: 3;

  &--center {
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    text-align: center;
    padding-top: 40px;

    &--pluse {
      padding-top: 0;
    }
  }
}

.advantage__number {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  grid-area: num;

  &::before {
    content: "\2013";
  }

  &::after {
    content: "\2013";
  }
}

.advantage__list-pluses {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 59px;
  }
}

.advantage__description {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.advantage__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  grid-area: text;
}

/*.advantage__img {
  grid-row-start: 1;
  grid-row-end: 4;
}*/
