body {
  position: relative;
  margin: 0;
  background-color: #f2f2f2;
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*.page-header, .page-main, .page-footer {
  background-color: white;
  box-shadow: 0 10px 10px #888888;
}*/
