.button {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
  background-color: #81b3d2;
  padding-top: 14.5px;
  padding-right: 47px;
  padding-bottom: 17.5px;
  padding-left: 47px;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }


  @media (min-width: $tablet-width) {
    padding-right: 136px;
    padding-left: 136px;
  }
}
