.button {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
  background-color: #81b3d2;
  padding-top: 14.5px;
  padding-right: 47px;
  padding-bottom: 17.5px;
  padding-left: 47px;
}
