.catalog__name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-top: 22px;
  }
}

.catalog__author-name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    padding-bottom: 15px;
  }
}

.catalog__like {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.catalog__image {
  display: block;
}

.catalog__background {
  @media (min-width: $tablet-width) {
    background-color: #f2f2f2;
    margin: 0;
    padding-left: 20px;
  }
}
