.catalog {
  margin-bottom: 15px;
  position: relative;

  &--last-child {
    padding-bottom: 15px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.catalog__image {
  display: block;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 267px;
    padding-bottom: 0;
  }

  &--big {
    @media (min-width: $tablet-width) {
      width: 648px;
      height: 400px;
    }

    @media (min-width: $desktop-width) {
      width: 100vw;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.catalog__name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 41px;
    width: 100%;
    color: #ffffff;
    padding-left: 20px;
  }
}

.catalog__author-name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 17px;
    display: block;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: -1px;
    width: 100%;
    color: #ffffff;
    padding-left: 20px;
  }
}

.catalog__like-number {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    /*position: absolute;
    bottom: 27px;
    right: 30px;*/
    margin-top: 26px;
    margin-right: 28px;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
    /*position: absolute;
    bottom: 28px;
    right: 29px;*/
    fill: #ffffff;
    margin-right: 29px;
  }

  &--big {
    @media (min-width: $tablet-width) {
      /*position: absolute;
      bottom: 27px;
      right: 21px;*/
      margin-top: 26px;
      margin-right: 19px;
    }

    @media (min-width: $desktop-width) {
      /*bottom: 27px;
      right: 22px;*/
      margin-right: 21px;
    }
  }
}

.catalog__icon-like {
  width: 23px;
  height: 21px;
  margin-right: 11px;
  margin-top: 11px;
  fill: #000000;
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    /*position: absolute;
    right: 20px;
    bottom: 5px;*/
    margin-top: 0;
    margin-right: 7px;
  }

  @media (min-width: $desktop-width) {
    fill: #ffffff;
    opacity: 1;
    /*position: absolute;
    right: 34px;
    margin-top: 0;
    margin-right: -1px;
    bottom: 4px;*/
  }

  &--big {
    margin-right: 10px;

    @media (min-width: $tablet-width) {
      /*right: 34px;*/
      margin-right: 6px;
    }
  }
}

.catalog__background {
  display: grid;
  margin: 0;

  @media (min-width: $tablet-width) {
    background-color: #f2f2f2;
    margin: 0;
    padding-left: 20px;
    grid-template-columns: 1fr max-content;
    /*padding-top: 15px;*/
  }

  @media (min-width: $desktop-width) {
    background-color: rgba(0, 0, 0, 0.3);
    padding-left: 0;
    padding-top: 0;
    height: 80px;
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}

.catalog__info {
  display: grid;
}
