.catalog__name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.catalog__author-name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.catalog__like {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}
