.form__location {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    /*padding-right: 120px;
    padding-left: 120px;*/
  }
}

.form__fieldset {
  border: 0 none;

  &--group-radio,
  &:not(:last-of-type) {
    border-bottom: 1px solid #e5e5e5;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }

  &--border-top {
    @media (min-width: $tablet-width) {
      border-top: 1px solid #dbdbdb;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
    }

    @media (min-width: $desktop-width) {
      padding-right: 60px;
      padding-left: 60px;
      margin-right: 120px;
      margin-left: 120px;
    }
  }

  &--group-name {
    margin-bottom: 20px;
    padding-right: 17px;
    padding-bottom: 6px;

    @media (min-width: $tablet-width) {
      order: 1;
      margin-bottom: 47px;
    }

    @media (min-width: $desktop-width) {
      width: 50%;
      padding-right: 12px;
    }
  }

  &--group-input {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      order: 2;
      flex-grow: 1;
      margin-left: 60px;
      margin-right: 60px;
      margin-bottom: 22px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 0;
      padding-left: 0;
      margin-left: 120px;
      margin-right: 120px;
      margin-bottom: 5px;
    }
  }

  &--group-radio {
    position: relative;

    @media (min-width: $tablet-width) {
      order: 0;

      &::before {
        content: "";
        background-color: #dbdbdb;
        width: 1px;
        height: 292px;
        position: absolute;
        left: 358px;
        top: 0;
      }
    }

    @media (min-width: $desktop-width) {
      /*width: 50%;*/

      &::before {
        content: "";
        background-color: #dbdbdb;
        width: 1px;
        height: 292px;
        position: absolute;
        left: 547px;
        top: 0;
      }
    }
  }

  &--checkbox {
    margin-bottom: 19px;
    padding-left: 8px;

    @media (min-width: $tablet-width) {
      margin-right: 60px;
      margin-left: 60px;
      margin-bottom: 17px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 0;
      padding-left: 0;
      margin-right: 120px;
      margin-left: 120px;
    }
  }

  &--textarea {
    padding-right: 19px;
    padding-left: 16px;
    padding-bottom: 13px;

    @media (min-width: $tablet-width) {
      margin-right: 60px;
      margin-left: 60px;
      padding-right: 0;
      padding-left: 0;
    }

    @media (min-width: $tablet-width) {
      margin-right: 120px;
      margin-left: 120px;
    }
  }
}

.form__legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }

  &--checkbox {
    padding-right: 8px;
    padding-left: 11px;

    @media (min-width: $tablet-width) {
      width: 50%;
      padding-right: 34px;
      padding-left: 19px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 70px;
      padding-left: 70px;
    }
  }

  &--group-radio {
    text-align: center;

    @media (min-width: $tablet-width) {
      padding-left: 22px;
      padding-bottom: 38px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 0;
      margin-left: 90px;
      padding-bottom: 40px;
    }
  }

  &--name {
    padding-left: 8px;

    @media (min-width: $tablet-width) {
      text-align: left;
      padding-left: 34px;
      padding-bottom: 35px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 0;
      margin-left: 120px;
    }
  }

  &--contact {
    @media (min-width: $tablet-width) {
      padding-left: 65px;
      padding-right: 65px;
      padding-bottom: 4px;
    }
  }

  &--textarea {
    padding-bottom: 10px;
    padding-left: 7px;

    @media (min-width: $tablet-width) {
      padding-left: 75px;
      padding-right: 75px;
    }
  }
}

.form__list {
  padding: 0;
  list-style: none;

  &--checkbox-position {
    margin-top: 14px;
    margin-bottom: 11px;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: space-around;
      padding-left: 87px;
      padding-right: 60px;
      margin-top: 39px;
      column-gap: 25px;
      row-gap: 9px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding-left: 0;
      padding-right: 0;
      margin-top: 38px;
      column-gap: 47px;
    }
  }

  &--contact {
    margin-top: 6px;
    padding-left: 4px;
    margin-right: 5px;
    margin-bottom: 17px;

    @media (min-width: $tablet-width) {
      /*padding-right: 60px;*/
      padding-left: 0;
      margin-bottom: 4px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      /*justify-content: space-between;*/
      /*margin-bottom: 50px;*/
      margin-top: 50px;
    }
  }

  &--group-radio {
    margin-top: 19px;
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {
      margin-top: 17px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 39px;
      margin-top: 15px;
    }
  }

  &--name {
    margin-top: 13px;

    @media (min-width: $desktop-width) {
      margin-left: 90px;
      margin-right: 55px;
    }
  }
}

.form__item {
  position: relative;

  &--input {
    display: flex;
    flex-direction: row;
    margin-bottom: 19px;

    @media (min-width: $desktop-width) {
      &:not(:first-of-type) {
        padding-left: 24px;
      }
    }
  }

  &--loyout {
    @media (min-width: $desktop-width) {
      display: inline-flex;

      /*&:first-of-type {
        margin-right: 134px;
      }*/
    }
  }
}

.form__item--loyout:first-of-type {
  @media (min-width: $desktop-width) {
    margin-right: 134px;
  }
}

.form__list-item {
  &--radio {
    @media (min-width: $desktop-width) {
      text-align: left;
      margin-bottom: 20px;
    }
  }

  &--radio-indent {
    margin-top: 16px;
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {
      margin-top: 22px;
      margin-bottom: 25px;
    }
  }

  &--checkbox-indent {
    &:not(:last-of-type) {
      padding-bottom: 20px;
    }

    @media (min-width: $tablet-width) {
      padding-bottom: 27px;
    }
  }
}

.form__label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;

  &--name {
    padding-top: 14px;
    padding-left: 7px;
    padding-right: 14px;

    @media (min-width: $desktop-width) {
      padding-right: 15px;
    }
  }

  &--surname {
    padding-top: 12px;
    padding-left: 7px;
    padding-right: 13px;

    @media (min-width: $tablet-width) {
      padding-left: 34px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 15px;
      padding-left: 32px;
    }
  }

  &--middlename {
    padding-top: 19px;
    padding-left: 7px;
    padding-right: 15px;

    @media (min-width: $desktop-width) {
      padding-right: 15px;
    }
  }

  &--contact {
    padding-left: 24px;

    @media (min-width: $tablet-width) {
      padding-left: 22px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 0;
      padding-top: 23px;
    }
  }

  &--phone {
    @media (min-width: $desktop-width) {

      padding-right: 20px;
    }
  }

  &--email {
    @media (min-width: $desktop-width) {
      /*width: 100%;*/
      /*padding-top: 25px;*/
      padding-right: 20px;
    }
  }
}

.form__input {
  background-color: #f2f2f2;
  border: none;
  color: black;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  padding-top: 18px;
  padding-left: 22px;
  padding-bottom: 14px;
  width: 100%;
  position: relative;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: #ffffff;
    outline: 4px solid #e5e5e5;
  }

  &:active {
    background-color: #ffffff;
    outline: 4px solid #e5e5e5;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  &--name {
    padding-top: 19px;
    padding-left: 23px;
  }

  &--surname {
    padding-top: 17px;
    padding-left: 23px;

    @media (min-width: $desktop-width) {
      padding-left: 21px;
    }
  }

  &--middlename {
    padding-top: 20px;
    padding-left: 23px;
  }

  &--phone {
    margin-top: 10px;
    padding-left: 24px;
    margin-bottom: 7px;

    @media (min-width: $tablet-width) {
      padding-left: 22px;
      margin-bottom: 18px;
    }

    @media (min-width: $desktop-width) {
      width: 257px;
      padding-top: 19px;
      padding-left: 19px;
    }
  }

  &--email {
    margin-top: 7px;
    /*margin-left: 5px;*/
    padding-left: 24px;

    @media (min-width: $tablet-width) {
      padding-left: 22px;
      margin-bottom: 0;
      margin-left: 0;
    }

    @media (min-width: $desktop-width) {
      width: 257px;
      height: 58px;
      margin-top: 11px;
    }
  }
}

.form__icon-bg {
  background-color: #e6e6e6;
  width: 57px;
  height: 58px;
  position: absolute;
  right: 0;
  top: 41px;

  @media (min-width: $tablet-width) {
    right: -5px;
  }

  @media (min-width: $desktop-width) {
    top: 11px;
    right: -54px;
  }

  &--phone {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M3.6 7.8C5 10.6 7.4 12.9 10.2 14.4L12.4 12.2C12.7 11.9 13.1 11.8 13.4 12C14.5 12.4 15.7 12.6 17 12.6C17.6 12.6 18 13 18 13.6V17C18 17.6 17.6 18 17 18C7.6 18 0 10.4 0 1C0 0.4 0.4 0 1 0H4.5C5.1 0 5.5 0.4 5.5 1C5.5 2.2 5.7 3.4 6.1 4.6C6.2 4.9 6.1 5.3 5.9 5.6L3.6 7.8Z' fill='%23010101'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--email {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='12' viewBox='0 0 16 12' fill='none'%3E%3Cpath d='M8 8C7.7 8 7.5 7.9 7 7.7L0 4V11C0 11.5 0.5 12 1 12H15C15.5 12 16 11.5 16 11V4L9 7.7C8.5 7.9 8.3 8 8 8ZM15 0H1C0.5 0 0 0.5 0 1V1.8L8 6L16 1.8V1C16 0.5 15.5 0 15 0Z' fill='black'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    top: 38px;

    @media (min-width: $desktop-width) {
      top: 11px;
      right: -57px;
    }
  }
}

.form__radio-label,
.form__checkbox-label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.form__textarea {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  width: 100%;
  border: none;
  resize: none;
  height: 160px;
  outline: none;
  padding-top: 14px;
  padding-left: 22px;
  padding-right: 23px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-top: 40px;
    padding-right: 22px;
    padding-top: 16px;
    margin-bottom: 38px;
  }
}

.form__btn {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: white;
  background-color: #81b3d2;
  width: 280px;
  height: 58px;
  border: none;
  outline: none;
  padding-top: 7px;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 324px;
    padding-right: 22px;
    padding-left: 9px;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
    padding-right: 132px;
    padding-left: 133px;
  }
}

.form__button {
  display: flex;
  justify-content: center;
  margin-bottom: 55px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 90px;
    margin-left: 60px;
    margin-right: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 60px;
    padding-left: 60px;
    margin-bottom: 94px;
  }
}

.form__desc {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    padding-top: 19px;
  }
}

.form__radio-input,
.form__checkbox-input {
  position: absolute;
  z-index: 1;
  opacity: 0;
}

.form__radio-input + label,
.form__checkbox-input + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.form__radio-input + label::before {
  content: "";
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
  width: 50px;
  height: 50px;
  background-color: #f2f2f2;
  background-size: 50%;
  background-position: center center;
  border: 15px solid #f2f2f2;
  border-radius: 50%;
  margin-right: 25px;
  margin-left: 10px;

  @media (min-width: $tablet-width) {
    margin-right: 21px;
    margin-left: 25px;
  }
}

.form__radio-input:checked + label::before {
  background-color: #333333;
}

.form__checkbox-input + label::before {
  content: "";
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border-radius: 10%;
  margin-right: 23px;
  margin-left: 10px;

  @media (min-width: $tablet-width) {
    margin-right: 24px;
    margin-left: 0;
  }
}

.form__checkbox-input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='17' viewBox='0 0 24 17' fill='none'%3E%3Cpath d='M22.925 1.325L21.825 0.225C21.525 -0.075 20.925 -0.075 20.625 0.225L8.725 12.125L2.525 5.925C2.225 5.625 1.625 5.625 1.325 5.925L0.225 7.025C-0.075 7.325 -0.075 7.925 0.225 8.225L8.025 16.025C8.225 16.225 8.425 16.225 8.625 16.225C8.825 16.225 9.025 16.125 9.225 16.025L22.725 2.525C23.225 2.225 23.225 1.725 22.925 1.325Z' fill='black'/%3E%3C/svg%3E");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.form__placeholder-color::-webkit-input-placeholder {
  color: #000000;
}

.form__label-hidden {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
