.main-nav__wrapper {
  position: relative;
  z-index: 9999;
}

.main-nav__list {
  list-style: none;
  background-color: #81b3d2;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    height: 56px;
    align-items: center;
    padding-left: 48px;
    padding-right: 26px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 90px;
    padding-right: 71px;
  }
}

.main-nav__item {
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    padding-top: 0;

    &:nth-child(3) {
      margin-left: auto;
    }

    &:first-child {
      padding-right: 77px;
    }

    &:last-child {
      padding-left: 52px;
    }
  }

  @media (min-width: $desktop-width) {
    &:first-child {
      padding-right: 162px;
    }

    &:last-child {
      padding-left: 138px;
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }

    @media (min-width: $desktop-width) {
      border-bottom: none;
    }
  }

  &:not(:first-child) {
    border-top: 1px solid rgba(255, 255, 255, 0.2);

    @media (min-width: $tablet-width) {
      border-top: none;
    }

    @media (min-width: $desktop-width) {
      border-top: none;
    }
  }

  &:hover {
    background-color: #669ec0;

    @media (min-width: $tablet-width) {
      background: none;
    }
  }

  &:last-child {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);

    @media (min-width: $tablet-width) {
      background: none;
    }
  }

  &:active {
    background-color: #5496bd;
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

    @media (min-width: $tablet-width) {
      background: none;
      box-shadow: none;
    }
  }

  @media (min-width: $tablet-width) {
    color: black;
    font-size: 14px;
    line-height: 26px;
    box-shadow: none;
  }
}

.main-nav__link {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 5px;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    color: black;
    font-size: 14px;
    line-height: 26px;

    &:hover {
      color: #81b3d2;
    }

    &:active {
      color: #000000;
      opacity: 0.3;
    }
  }
}

.main-nav__toggle {
  position: absolute;
  cursor: pointer;
  width: 23px;
  height: 22px;
  left: 278px;
  top: 17px;
  border: none;
  z-index: 10000;
  outline: none;
  background: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }


  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(#ffffff, 30%);
  box-shadow:
    0 8px 0 0 fade(#ffffff, 30%),
    0 16px 0 0 fade(#ffffff, 30%);
}

.main-nav--closed .main-nav__item {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  right: auto;


  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: -3px;
    width: 28px;
    height: 3px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(#ffffff, 30%);
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}
