.page-main__header {
  padding-left: 17px;
  padding-right: 18px;
  margin-bottom: 33px;

  &--line {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 16px;
  }

  &--indent {
    margin-bottom: 11px;
  }

  @media (min-width: $tablet-width) {
    padding-right: 124px;
    padding-left: 124px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 345px;
    padding-left: 345px;
    margin-bottom: 43px;
  }
}

.page-main__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.page-main__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
