.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.page-footer__hashtag-text {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.page-footer__social {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.page-footer__social-item:not(:last-child) {
  margin-right: 6px;
}

.page-footer__social-link {
  text-decoration: none;
  display: block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;

  &--twitter {
    padding-top: 16px;
    padding-left: 14px;
  }

  &--facebook {
    padding-top: 13px;
    padding-left: 19px;
  }

  &--youtube {
    padding-top: 17px;
    padding-left: 13px;
  }
}

.page-footer__copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-footer__copyright-text {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  padding-right: 10px;
}

.page-footer__copyright-img {
  fill: black;
  width: 27px;
  height: 34px;
}
