.page-main__header {
  @media (min-width: $tablet-width) {
    padding-right: 124px;
    padding-left: 124px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 345px;
    padding-left: 345px;
    margin-bottom: 41px;
  }
}

.page-main__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.page-main__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}
