.page-main__header {
  padding-left: 16px;
  padding-right: 18px;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    padding-right: 141px;
    padding-left: 140px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 348px;
    padding-left: 345px;
    margin-bottom: 42px;
  }

  &--line {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 16px;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }

  &--indent {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 70px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 45px;
    }
  }

  &--form {
    padding-left: 22px;
    padding-right: 18px;
    padding-bottom: 17px;

    @media (min-width: $desktop-width) {
      padding-left: 242px;
      padding-right: 235px;
      margin-bottom: 41px;
    }
  }

  &--photo {
    margin-bottom: 31px;

    @media (min-width: $tablet-width) {
      padding-right: 144px;
      padding-left: 144px;
      margin-bottom: 76px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 357px;
      padding-left: 353px;
      margin-bottom: 78px;
    }
  }
}

.page-main__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding-bottom: 31px;
  }

  &--photo {
    padding-left: 18px;
    padding-right: 12px;
    padding-bottom: 28px;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      padding-bottom: 33px;
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
    }

    @media (min-width: $desktop-width) {
      padding-right: 18px;
      padding-left: 19px;
    }
  }

  &--form {
    padding-bottom: 28px;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      padding-right: 21px;
      padding-bottom: 33px;
    }

    @media (min-width: $desktop-width) {
      letter-spacing: -1px;
      font-size: 32px;
      padding-top: 60px;
      padding-right: 29px;
      padding-left: 17px;
      padding-bottom: 34px;
    }
  }
}

.page-main__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

  &--photo {
    padding-left: 6px;
    line-height: 24px;

    @media (min-width: $tablet-width) {
      line-height: 25px;
      padding-left: 0;
    }
  }

  &--form {
    line-height: 24px;

    @media (min-width: $tablet-width) {
      padding-right: 146px;
      padding-left: 140px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 148px;
      padding-left: 137px;
    }
  }
}

.page-main__text-transfer {
  display: inline;

  @media (min-width: $tablet-width) {
    display: block;
  }
}


.page-main__form-transfer {
  display: block;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}
