.page-header {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 27px;
  }
}

.page-header__logo {
  width: 102px;
  height: 84px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 102px;
    height: 84px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }

  @media (min-width: $desktop-width) {
    width: 187px;
    height: 97px;
    display: block;
  }
}

.page-header__logo-img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $desktop-width) {
    width: auto;
    display: block;
  }
}

.page-header__background {
  background-color: #bbdefb;
  background-image: url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: cover;
  position: relative;
  top: -26px;

  @media (min-width: $tablet-width) {
    background-image: url("../../img/back-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/back-desktop.jpg");
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 27px;
    background-image: url("../../img/intro-triangle-mobile.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 322px 27px;
    background-position-x: -1px;

    @media (min-width: $tablet-width) {
      background-image: url("../../img/intro-triangle-tablet.svg");
      background-size: 100% 57px;
      height: 57px;
      bottom: 0;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../../img/intro-triangle-desktop.svg");
    }
  }
}

.page-header__background-small {
  background-color: #bbdefb;
  background-image: url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  position: relative;
  top: -26px;
  width: 100%;
  height: 158px;

  @media (min-width: $tablet-width) {
    background-image: url("../../img/back-tablet.jpg");
    height: 316px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/back-desktop.jpg");
    height: 326px;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 27px;
    background-image: url("../../img/intro-triangle-mobile.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 322px 27px;
    background-position-x: -1px;

    @media (min-width: $tablet-width) {
      background-image: url("../../img/intro-triangle-tablet.svg");
      background-size: 100% 57px;
      height: 57px;
      bottom: 0;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../../img/intro-triangle-desktop.svg");
    }
  }
}

.page-header__img {
  display: block;
  margin: 0 auto;
  padding-top: 88px;
  padding-bottom: 94px;

  @media (min-width: $tablet-width) {
    width: 461px;
    height: auto;
    padding-top: 103px;
  }

  &--indent {
    padding-top: 25px;
    padding-bottom: 99px;
  }

  &--small {
    padding-top: 45px;

    @media (min-width: $tablet-width) {
      padding-top: 94px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 102px;
    }
  }
}

.page-header__img-size {
  width: 229px;

  @media (min-width: $tablet-width) {
    width: 457px;
  }

  @media (min-width: $desktop-width) {
    width: 460px;
  }
}
