.photo {
  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
  }
}

.photo__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 63px;
  }
}

.catalog__image {
  @media (min-width: $tablet-width) {
    width: 324px;
    height: 267px;
  }

  &--big {
    @media (min-width: $tablet-width) {
      width: 648px;
      height: 400px;
    }

    @media (min-width: $desktop-width) {
      width: 100vw;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.photo__item {
  border-top: 1px solid #e5e5e5;
  padding-top: 22px;
  padding-right: 20px;
  padding-left: 20px;

  &:last-of-type {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }

  &:not(:first-child) {
    @media (min-width: $desktop-width) {
      width: 33.33%;
    }
  }

  @media (min-width: $tablet-width) {
    border-top: none;
    padding: 0;
  }
}
