.popup-error {
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 400px;
  }
}

.popup-success {
  width: 320px;
  padding-right: 40px;
  padding-left: 40px;

  @media (min-width: $tablet-width) {
    width: 640px;
  }
}

.popup__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: black;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.popup__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

.popup__button {
  background-color: #81b3d2;
  border: none;
  height: 58px;
  color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);

  &--error {
    width: 180px;
  }

  &--success {
    width: 280px;
  }
}

.popup__bg {
  background-color: #f2f2f2;
  padding: 20px;
}
