.search {
  margin-bottom: 49px;
}

.search__title {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.search__text {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.search__button {
  text-align: center;
}
