.search {
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-right: 166px;
    padding-left: 167px;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 371px;
    padding-left: 371px;
    margin-bottom: 66px;
  }
}

.search__title {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.search__text {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 37px;
  }
}

.search__button {
  text-align: center;
}
