.video {
  position: relative;
  margin-bottom: 57px;

  @media (min-width: $tablet-width) {
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 201px;
    margin-left: 199px;
    margin-bottom: 113px;
  }
}

.video__image {
  width: 100vw;
  display: block;

  @media (min-width: $tablet-width) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.video__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    padding-bottom: 33px;
  }
}

.video__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  padding-right: 31px;
  padding-left: 33px;
  padding-bottom: 34px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 79px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 176px;
    padding-left: 178px;
    padding-bottom: 77px;
  }
}

.video__control {
  width: 280px;
  height: 45px;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 66px;
  transform: translateX(-50%);
  left: 50%;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 93px;
    bottom: 0;
  }
}

.video__control-button {
  background: #f2f2f2;
  width: 280px;
  height: 66px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    background: none;
    padding-left: 34px;
  }

  &--location {
    @media (min-width: $tablet-width) {
      position: absolute;
      bottom: 13px;
    }
  }
}

.video__replay {
  background-image: url("../img/replay-mobile.svg");
  background-repeat: no-repeat;
  background-color: none;
  width: 16px;
  height: 20px;
  border: none;
  outline: none;
  margin-right: 103px;
  margin-left: 5px;

  @media (min-width: $tablet-width) {
    margin-right: 458px;
    background-image: url("../img/replay.svg");
    background-color: rgba(0, 0, 0, 0);
    padding-right: 14px;
    margin-left: 0;
    padding-left: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 610px;
  }
}

.video__subtitles {
  background-image: url("../img/subtitles-mobile.svg");
  background-repeat: no-repeat;
  background-color: none;
  width: 32px;
  height: 20px;
  border: none;
  outline: none;

  @media (min-width: $tablet-width) {
    background-image: url("../img/subtitles.svg");
    background-color: rgba(0, 0, 0, 0);
    padding-right: 57px;
  }
}

.video__fullscreen {
  background-image: url("../img/fullscreen-mobile.svg");
  background-repeat: no-repeat;
  background-color: none;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  margin-right: 3px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/fullscreen.svg");
    background-color: rgba(0, 0, 0, 0);
    padding-right: 16px;
  }
}

.video__range-volume {
  width: 100%;
  height: 45px;
  padding-right: 23px;
  padding-left: 22px;
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    width: 389px;
    top: 25px;
    transform: translateX(0%);
    left: 92px;
    position: absolute;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    width: 540px;
  }
}

.video__volume-scale {
  background: rgba(255, 255, 255, 0.2);
  width: 235px;
  height: 3px;
  top: 22px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;

  @media (min-width: $tablet-width) {
    width: 389px;
    top: 45px;
    transform: translateX(0%);
    left: 93px;
  }

  @media (min-width: $desktop-width) {
    width: 541px;
  }
}

.video__volume-bar {
  width: 9px;
  height: 9px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  bottom: -3px;
  left: 37px;

  @media (min-width: $tablet-width) {
    left: 112px;
  }
}
