.wrapper {
  background: #ffffff;
  margin: 0 auto;
  width: 320px;
  box-shadow: 0 -5px 9px 2px #dbdbdb;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}
